* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner {
    width: 100%;
    height: auto;
    margin: 20px auto;
    max-width: 900px;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: #880015;
    margin-top: 10px;
}

.line {
    border-color: #880015;
}

.container-geral {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin: 3rem 0;
    padding: 20px;
    max-width: 1200px;
}

.data {
    text-align: center;
    margin-top: 10px;
    font-size: 1.9rem;
    color: #880015;
    display: block;
}

.titulo {
    font-size: 3rem;
    color: #4d219e;
    padding: 15px;
}

.text {
    font-size: 2.3rem;
    color: rgb(95, 2, 2);
}

.pic {
    width: 100%;
    height: auto;
    margin: 20px auto;
    max-width: 300px;
    border-style: solid;
}