*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.conteiner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner{
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    max-width: 900px;
}

.title{
    font-size: 2rem;
    text-align: center;
    color: #880015;
    margin-top: 10px;
}

.line{
    border-color: #880015;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
}

.daily, .galery {
    max-width: 300px;
    width: 100%;
    padding: 6px;
    transition: transform 0.5s ease;
    border-style: solid;
    border-radius: 10px;
    border-color: #880015;
}

.daily:hover, .galery:hover {
    transform: scale(1.1);
    z-index: 1;
}